@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/WeChatScripts/WeChat.js"></script>
    <script></script>
</head>
<body>
    <div>
           <div><span>请提供「开发者凭据」，关联 indexer 和您微信企业号：</span></div>
           <span>CorpID</span> <input type="text" id="corpID" value="wx0beba9277d2499d0" />
           <span>Secret</span> <input type="text" id="secret" style="width:500px" value="T1XBGAti9ycGk2Isc6r1ThMMH2MB-cVEC5WCTd3PocLLds7uPqLKrADGsxwjGW1N" />
           <input type="button" value="提交" onclick="connection()"/>"
           <input type="button" value="同步成员（对比微信中的email和indexer中的email）" onclick="syncMem()"/>
    </div>
</body>
</html>
<script>

</script>
